
.col-sm-2.col-form-label {
  font-size: small;
}

#getAttributeLabel {
  display: block;
  text-align: center;
  font-weight: bold;
}
li {
    list-style-type: none;
}

li:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.list-group-item {
  background-color: #ffffff;
}

.h2, h2 {
  color: rgb(167, 55, 55);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
