h1 {}

form {
  /*border-radius:5px;*/
  /*border-width:1px;*/
  /*border-style:solid;*/
  /*border-bottom-color:black;*/
  /*background-color:white;*/
}

.col-sm-2.col-form-label {
  font-size: small;
}

.card {
  /*box-shadow:0 0px 0px rgba(0,0,0,0.4);*/
  /*border:1px solid #d8d5d5;*/
}

#getAttributeLabel {
  display: block;
  text-align: center;
  font-weight: bold;
}

li:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.list-group-item {
  background-color: #ffffff;
}

.h2, h2 {
  color: rgb(167, 55, 55);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
